{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <center>
        <table id="top_menu">
            <tr>
                <td>
                    <a href="{% url 'index' %}">Frontpage</a>
                </td>
                <td>
                    <a href="{% url 'products' %}">10 Cheapest</a>
                </td>
                <td>
                    <a href="{% url 'kids' %}">10 Cheapest kids</a>
                </td>
                <td>
                    <a href="{% url 'paging' %}">Pagination</a>
                </td>
                <td>
                    <a href="{% url 'products_web' %}">Products - Web sample</a>
                </td>
                <td
                    <a href="{% url 'admin:index' %}">Admin</a>
                </td>
            </tr>
        </table>
    </center>

    {% block content %}{% endblock %}    
    
</body>
</html>