{% extends 'challenge\basicTemplate.html' %}

{% block title %}Unisport Code Challenge{% endblock %}

{% block content %}

<h1>Links for the different elements of the challenge</h1><br />
I have choosen to use Django for the challenge, as you are able to get an App(Site) up and running fast,<br \>
and you get the admin module build in, so the bonus challenge could be done fairly easy as well.<br \><br \>

<ul>
<li><a href="products/">Product page with the 10 cheapest products</a><br /></li>
<li><a href="products/kids/">Product page with the 10 cheapest kids products</a> - Used the kids field in the JSON format</li>
<li><a href="products/57625">Product page with specific ID in the URL</a> - Another sample <a href="products/44003">44003</a> - You can access these by the <a href="products/">product page </a> as well</li>
<li><a href="products/paging/">Product page with pagination, 10 pr page</a></li>
<li><a href="products/products_web/">Product page directly data from the web sample</a></li><br />
<li><a href="../admin/">Admin module</a> - Here you can add, edit and delete products directly in the DB (User:admin, Pass:admin)</li>
</ul>
{% endblock %}