{% extends 'challenge\basicTemplate.html' %}

{% block title %}Product paging{% endblock %}

{% block content %}
<h1>10 products shown on each page</h1>

<div class="pagination">
        
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous Page</a>
        {%  endif %}
        {% for pg in posts.paginator.page_range %}
            {% if posts.number == pg %}
                <a href="?page={{ pg }}">{{ pg }}</a>
            {% else %}
                <a href="?page={{ pg }}">{{ pg }}</a>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next Page</a>
        {%  endif %}
        
    </div>

<table>
    <tr>
        <td>ID</td>
        <td>Product name</td>
        <td>Product price</td>
    </tr>
    {% for x in posts %}
    <tr>
        <td style="padding:3px">{{ x.product_id }}</td><td> {{ x.name }}</td><td>{{ x.price }} {{ x.currency }}</td>
    </tr>
    
    {% empty %}
        <h2>Sorry, we dont have this product in stock</h2>
    {% endfor %}
</table>

   

{% endblock %}