{% extends 'challenge\basicTemplate.html' %}

{% block title %}Products sorted{% endblock %}

{% block content %}
<h1>Products sorted by 10 cheapest products</h1>
- Products with price = zero is removed<br /><br />
<table>
    <tr id="top_menu">
        <td>Product name</td><td>Product price</td><td>Product image</td>
    </tr>
    {% for x in data %}
    <tr>
        <td>
            <a href="{{ x.product_id }}/">{{ x.name }}</a>
        </td>
        <td>
            {{ x.price }} {{ x.currency }}
        </td>
        <td>
            <img height=100 src="{{ x.img_url }}">
        </td>
    </tr>
    {% empty %}
        <h2>Undskyld, vi har ikke dette/disse produkter på lager.</h2>
    {% endfor %}
</table>
<br ><br >
<table id="zero">
    {% if data2 %}
    <tr>
        <td>
            <br />
            Produkter til 0 kroner!
            <br /> <br />
        </td>
    </tr>
    {% endif %}
    {% for y in data2 %}
    <tr>
        <td>
            <a href="{{ y.product_id }}/">{{ y.name }}</a>
        </td>
        <td>
            {{ y.price }} {{ y.currency }}
        </td>
        <td>
            <img height=100 src="{{ y.img_url }}">
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}