{% extends 'base.html' %}

{% block title %}Update a product{% endblock %}

{% block content %}

  <div class="row">
    <h1>Update a product</h1>
    <form action="" class="form" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          {{ field.label_tag }}
          {{ field }}
        </div>
        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
      {% endfor %}
      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>

{% endblock %}
