
venv/ 
venv.bak/ 

.DS_Store

.coverage

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak 

*.py[cod] 
*$py.class 

*.Python
 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
