*node_modules/
*.sqlite3
*.db
*.pyc
*.sass_cache/*
*.sublime-workspace
*.Python
*.DS_Store
*.log
*.map
docker-compose.override.yml
.coverage
bin/*
include/*
lib/*
local/*
share/*
static/*
p3d-upload/*
**/*pip-selfcheck.json
venv
.vscode
