{% extends "base.html" %}

{% block content %}
    <div class="product_details">
        <h2>{{ product.name }}</h2>

        {% if product.img_url %}
            <p><img src="{{ product.img_url }}" alt=""/></p>
        {% endif %}

        <p><b>Delivery:</b> {{ product.delivery }}</p>

        <p><b>Sizes:</b> {{ product.sizes.all|join:", " }}</p>

        <p><b>Price:</b> {{ product.price|floatformat:2 }}</p>

        <p><a class="buy_product" href="{{ product.url }}" target="_blank">Buy</a></p>

        {% if product %}
        <div class="object-tools">
            <a href="{% url 'change_product' product.pk %}">Change Product</a>
            <a href="{% url 'delete_product' product.pk %}">Delete Product</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
