{% extends "base.html" %}
{% load cycle from future %}

{% block content %}
    <div id="content">
        <h2>Product List</h2>

        <div class="paginator">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}">&lt;</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">&gt;</a>
            {% endif %}
        </div>

        <div class="module">
            <table id="result_list">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Delivery</th>
                        <th>Sizes</th>
                        <th>Price</th>
                        <th>Image</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td><a href="{{ product.get_absolute_url }}">{{ product.product_id }}</a></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.delivery }}</td>
                            <td>{{ product.sizes.all|join:", " }}</td>
                            <td>{{ product.price|floatformat:2 }}</td>
                            <td><img src="{{ product.img_url }}" alt="" /></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
