<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <title>Unisport</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Unisport</a>

        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Brands
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Nike</a>
                        <a class="dropdown-item" href="#">Adidas</a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Mænd</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kvinder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Børn</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid women-header">
        <div class="container">
            <h1 class="display-4">Product listing</h1>
            <br>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-card">
                    <div class="product-container">
                        <div class="product-label">
                            Nyhed
                        </div>      
                    </div>
                    <br>
                    <img src="../../static/product_image_225x225.png" alt="" class="product-image">
                    <div class="product-name">
                        Nike fodboldstøvle
                    </div>
                    <div class="product-price">
                        1.999 kr.
                    </div>
                    <div class="product-more">
                        <a href="#">
                            <button class="btn btn-success">Se mere</button>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="product-card">
                    <div class="product-container">
                        <div class="product-label">
                            Nyhed
                        </div>      
                    </div>
                    <br>
                    <img src="../../static/product_image_225x225.png" alt="" class="product-image">
                    <div class="product-name">
                        Nike fodboldstøvle
                    </div>
                    <div class="product-price">
                        1.999 kr.
                    </div>
                    <div class="product-more">
                        <a href="#">
                            <button class="btn btn-success">Se mere</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-card">
                    <div class="product-container">
                        <div class="product-label">
                            Nyhed
                        </div>      
                    </div>
                    <br>
                    <img src="../../static/product_image_225x225.png" alt="" class="product-image">
                    <div class="product-name">
                        Nike fodboldstøvle
                    </div>
                    <div class="product-price">
                        1.999 kr.
                    </div>
                    <div class="product-more">
                        <a href="#">
                            <button class="btn btn-success">Se mere</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="product-card">
                    <div class="product-container">
                        <div class="product-label">
                            Nyhed
                        </div>      
                    </div>
                    <br>
                    <img src="../../static/product_image_225x225.png" alt="" class="product-image">
                    <div class="product-name">
                        Nike fodboldstøvle
                    </div>
                    <div class="product-price">
                        1.999 kr.
                    </div>
                    <div class="product-more">
                        <a href="#">
                            <button class="btn btn-success">Se mere</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
            </div>
            <div class="col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
            </div>
            <div class="col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
            </div>
            <div class="col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
    </div>

    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>