<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <title>Unisport</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Unisport</a>

        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Brands
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Nike</a>
                        <a class="dropdown-item" href="#">Adidas</a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Mænd</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kvinder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Børn</a>
                </li>

            </ul>
        </div>
    </nav>


    <div class="container product-details">
        <div class="row">
            <div class="col-md-6 details-image">
                
                <div class="product-label-container">
                    <div class="product-label-discount">
                        -15%
                    </div>
                    <div class="product-label-tag">
                        -15%
                    </div>
                </div>
                <img src="../../static/images/product_image_225x225.png" alt="" class="details-image">
            </div>
            
            <div class="col-md-6">
                <div class="details-id">
                    Produktnummer: 12345678
                </div>
                <div class="details-brand">
                    Nike
                </div>
                <div class="details-name">
                    Nike fodboldstøvler
                </div>
                <div class="details-price">
                    <span class="details-price discount">1.667 kr.</span>
                    <span class="details-price recommended">1.999 kr.</span>
                </div>
                <div class="details-sizes form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Størrelser:</label>
                    <div class="col-sm-10">
                    <select name="" id="" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" >
                        <option value="">39</option>
                        <option value="">40</option>
                        <option value="">41</option>
                        <option value="">42</option>
                        <option value="">43</option>
                    </select>
                    </div>
                </div>
                <div class="details-delivery">
                    Forventet levering: <span class="delivery">1-2 hverdage</span>
                </div>
                <div class="details-description">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
                        <li>Laoreet suspendisse interdum consectetur libero id faucibus. Lobortis scelerisque fermentum dui faucibus in ornare. </li>
                        <li>Augue mauris augue neque gravida in fermentum et sollicitudin ac. Nisl tincidunt eget nullam non nisi.</li>
                        <li>Amet risus nullam eget felis eget nunc lobortis. A erat nam at lectus urna duis convallis convallis tellus. </li>
                        <li>Ut eu sem integer vitae justo eget magna fermentum. Faucibus interdum posuere lorem ipsum dolor. </li>
                        <li>Volutpat maecenas volutpat blandit aliquam etiam erat velit. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. </li>
                        <li>Cursus in hac habitasse platea dictumst quisque. Lacus laoreet non curabitur gravida arcu. </li>
                        <li>Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis.</li>
                    </ul>

                </div>
            </div>



        </div>

    </div>

    

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>