body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: lightgrey;      
}

td {
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;  
    color:black; 
}

a:hover {
    color:red;
}

li {
    text-align: left;
}

h1 {
    text-align: center; 
}

