body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: white;
    text-align: center;
}

table {
    width: 50%;
    float: center;
}

table, tr, td {
    border: solid 1px black;
    border-collapse: collapse;
}

#top_menu{
    background-color: #80ff80;
}

#zero{
    background-color: red;
}

td {
    border: 0px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;  
    color:black; 
}

a:hover {
    color:red;
}

li {
    text-align: left;
}


