<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'products_from_db' %}
    <link rel="stylesheet" type="text/css" href="{% static 'unisport_app/pages/products_list.css' %}">
    {% elif request.resolver_match.url_name == 'product_detail' or 'product_from_db_detail' %}
    <link rel="stylesheet" type="text/css" href="{% static 'unisport_app/pages/product_detail.css' %}">
    {% endif %}
    <title>Unisport | Products</title>
</head>

<body>
    <div id="page-container">
        <header>
            <nav>
                <div class="logo-container">
                    <a href="/">unisport</a>
                </div>
                <form action="#">
                    <input type="text" placeholder="Hvad søger du?" />
                </form>
                <div class="icons-container">
                    <div>&#x2630;</div>
                </div>
            </nav>
        </header>
        {% block main %}
        {% endblock main %}
    </div>
    <footer>Unisport Sample | Jonas Bøgh - Web Development, KEA</footer>
</body>

</html>