<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 10px
    }
</style>
<body>
    {% for foo in page %}
<table class="table",>
    <tr><th>Name</th><td>{{foo.name}}</td></tr>
    <tr><th>Price</th><td>{{foo.price}} {{foo.currency}}</td></tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>