{% extends 'main/layout/base.html' %}

{% load static %}

{% block static %}
    <link href="{% static 'main/pages/home_page/css/home_page.css' %}" rel="stylesheet">
    <script src="{% static 'main/pages/home_page/js/home_page.js' %}"></script>
{% endblock %}

{% block page_css_class %}home-page{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Content</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
           dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
           ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
           nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
           anim id est laborum.</p>
    </div>
{% endblock %}
