{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for object in object_list %}
        {% include "unisport_web/product_confirm_delete-dialog.html" with dialog_id=object.id %}
            <div class="mb-3 col-sm-2 d-flex">
                <div class="card flex-fill">
                    <h5 class="card-header">{{object.name}}</h5>
                    <img class="card-img-top img-fluid" src="{{object.image}}" alt="Card image">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="mb-3 row">
                                <label for="inputPrice" class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="inputPrice" value="{{object.max_price|stringformat:".2f"}} {{object.currency.id}}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for=recommendedRetailPrice" class="col-sm-3 col-form-label">RRP</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="recommendedRetailPrice" value="{{object.recommended_retail_price|stringformat:".2f"}} {{object.currency.id}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{object.url}}" target="_blank" rel="noopener noreferrer">unisport</a>
                        <a href={{object.get_absolute_url}} target="_blank" rel="noopener noreferrer">info</a>
                        <a
                            href="{% url 'web:product-delete' object.id %}"
                            data-bs-toggle="modal"
                            data-bs-target="#dialog_{{object.id}}"
                            id="product_{{object.id}}"
                        >
                            delete
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}

