{% extends "index.html" %}
{% block body %}
<script>
    var save = function(){
        var url = '/product/';
        var data = {
            "name": $("#name").val(),
            "package": $("#package").is(':checked'),
            "women": $("#women").is(':checked'),
            "price": $("#price").val(),
            "img_url": $("#img_url").val(),
            "price_old": $("#price_old").val(),
            "online": $("#online").is(':checked'),
            "url": $("#url").val(),
            "delivery": $("#delivery").val(),
            "currency": $("#currency").val(),
            "kids": $("#kids").is(':checked'),
            "sizes": $("#sizes").val(),
            "kid_adult": $("#kid_adult").is(':checked'),
            "free_porto": $("#free_porto").is(':checked'),
            "image": $("#image").val()
        };
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function(response) {
                bootbox.alert({size: "small", message: "Success! A new product has been created."});
            },
            error: function(response) {
                bootbox.alert({size: "small", message: "Oops! Something went wrong."});
            }
        });
    };
</script>
<div id="panel" style="margin: 0 auto; width: 600px; height: 950px;">
    <h2>New product</h2>
    <div id="data" style="margin-top: 50px;">
        <div class="form-group row">
            <label for="name" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-10">
                <input id="name" class="form-control" type="text" name="name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="price">Price</label>
            <div class="col-xs-10">
                <input id="price" type="text" name="price" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="price_old">Old price</label>
            <div class="col-xs-10">
                <input id="price_old" type="text" name="price_old" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="img_url">Image url</label>
            <div class="col-xs-10">
                <input id="img_url" type="text" name="img_url" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="url">Url</label>
            <div class="col-xs-10">
                <input id="url" type="text" name="url" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="delivery">Delivery</label>
            <div class="col-xs-10">
                <input id="delivery" type="text" name="delivery" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="currency">Currency</label>
            <div class="col-xs-10">
                <input id="currency" type="text" name="currency" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="sizes">Sizes</label>
            <div class="col-xs-10">
                <input id="sizes" type="text" name="sizes" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="image">image</label>
            <div class="col-xs-10">
                <input id="image" type="text" name="image" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-top: 10px;" class="col-xs-2 col-form-label" for="women">Women</label>
            <div class="col-xs-10">
                <input id="women" style="width: 33px;" type="checkbox" name="women" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-top: 10px;" class="col-xs-2 col-form-label" for="package">Package</label>
            <div class="col-xs-10">
                <input id="package" style="width: 33px;" type="checkbox" name="package" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-top: 10px;" class="col-xs-2 col-form-label" for="online">Online</label>
            <div class="col-xs-10">
                <input id="online" style="width: 33px;" type="checkbox" name="online" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-top: 10px;" class="col-xs-2 col-form-label" for="kid_adult">Kid adult</label>
            <div class="col-xs-10">
                <input id="kid_adult" style="width: 33px;" type="checkbox" name="kid_adult" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-top: 10px;" class="col-xs-2 col-form-label" for="free_porto">Free porto</label>
            <div class="col-xs-10">
                <input id="free_porto" style="width: 33px;" type="checkbox" name="free_porto" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label style="margin-top: 10px;" class="col-xs-2 col-form-label" for="kids">Kids</label>
            <div class="col-xs-10">
                <input id="kids" style="width: 33px;" type="checkbox" name="kids" class="form-control" />
            </div>
        </div>
        <div style="margin-top: 50px;">
            <button class="btn btn-default" onclick="save()">Save</button>
      </div>
    </div>
</div>
{% endblock %}