{% extends "index.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="/product/" method=post style="margin-left: 100px; width: 300px;">
    <div class="form-group">
      <h2>New product</h2>
      <label for="name">name</label><input type="text" name="name" class="form-control">
      <label for="kids">kids</label><input type="checkbox" name="kids" class="form-control">
      <label for="package">package</label><input type="checkbox" name="package" class="form-control">
      <label for="women">women</label><input type="checkbox" name="women" class="form-control">
      <label for="price">price</label><input type="text" name="price" class="form-control">
      <label for="img_url">img_url</label><input type="text" name="img_url" class="form-control">
      <label for="price_old">price_old</label><input type="text" name="price_old" class="form-control">
      <label for="online">online</label><input type="checkbox" name="online" class="form-control">
      <label for="url">url</label><input type="text" name="url" class="form-control">
      <label for="delivery">delivery</label><input type="text" name="delivery" class="form-control">
      <label for="currency">currency</label><input type="text" name="currency" class="form-control">
      <label for="sizes">sizes</label><input type="text" name="sizes" class="form-control">
      <label for="kid_adult">kid_adult</label><input type="checkbox" name="kid_adult" class="form-control">
      <label for="free_porto">free_porto</label><input type="checkbox" name="free_porto" class="form-control">
      <label for="image">image</label><input type="text" name="image" class="form-control">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
{% endblock %}