{% extends "index.html" %}
{% block body %}
    <div>{{ item.id }}</div>
    <div>{{ item.package }}</div>
    <div>{{ item.women }}</div>
    <div>{{ item.price }}</div>
    <div>{{ item.img_url }}</div>
    <div>{{ item.price_old }}</div>
    <div>{{ item.online }}</div>
    <div>{{ item.url }}</div>
    <div>{{ item.delivery }}</div>
    <div>{{ item.currency }}</div>
    <div>{{ item.kids }}</div>
    <div>{{ item.name }}</div>
    <div>{{ item.sizes }}</div>
    <div>{{ item.kid_adult }}</div>
    <div>{{ item.free_porto }}</div>
    <div>{{ item.image }}</div>
{% endblock %}