{% extends "index.html" %}
{% block body %}
<script>
    var update = function(){
        var id = document.getElementById("id").value;
        var url = '/update-product/' + id + '/';
        var payload = {
            "name": document.getElementById("name").value,
            "package": document.getElementById("package").checked,
            "women": document.getElementById("women").checked,
            "price": document.getElementById("price").value,
            "img_url": document.getElementById("img_url").value,
            "price_old": document.getElementById("price_old").value,
            "online": document.getElementById("online").checked,
            "url": document.getElementById("url").value,
            "delivery": document.getElementById("delivery").value,
            "currency": document.getElementById("currency").value,
            "kids": document.getElementById("kids").checked,
            "sizes": document.getElementById("sizes").value,
            "kid_adult": document.getElementById("kid_adult").checked,
            "free_porto": document.getElementById("free_porto").checked,
            "image": document.getElementById("image").value
        };
        console.log(payload);
        $.ajax({
            url: url,
            type: 'PUT',
            data: payload,
            success: function(response) {
                console.log(response);
            }
        });
    };
    var delete_item = function(){
        var id = document.getElementById("id").value;
        var url = "/product/" + id + "/";
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function(response) {
                console.log(response);
                console.log('delete');
            }
        });
    };
</script>
<div class="container" style="margin-top: 30px;">
    <div class="form-horizontal">
        <div id="left">
            <div class="form-group">
                <label class="control-label col-sm-2" for="id">Id:</label>
                <div class="col-sm-4">
                    <input id="id" name="id" class="form-control" value="{{ item.id }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-4">
                    <input type="text" id="name" name="name" class="form-control" value="{{ item.name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="package">Package:</label>
                <div class="col-sm-4">
                    <input type="checkbox" id="package" name="package" class="form-control" {% if item.package %} checked {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="women">Women:</label>
                <div class="col-sm-4">
                    <input type="checkbox" id="women" name="women" class="form-control" {% if item.women %} checked {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="price">Price:</label>
                <div class="col-sm-4">
                    <input type="text" id="price" name="price" class="form-control" value="{{ item.price }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="img_url">Image url:</label>
                <div class="col-sm-4">
                    <input type="text" id="img_url" name="img_url" class="form-control" value="{{ item.img_url }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="price_old">Price old:</label>
                <div class="col-sm-4">
                    <input type="text" id="price_old" name="price_old" class="form-control" value="{{ item.price_old }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="online">Online:</label>
                <div class="col-sm-4">
                    <input type="checkbox" id="online" name="online" class="form-control" {% if item.online %} checked {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="url">Url:</label>
                <div class="col-sm-4">
                    <input type="text" id="url" name="url" class="form-control" value="{{ item.url }}">
                </div>
            </div>
        </div>
        <div id="right">
            <div class="form-group">
                <label class="control-label col-sm-2" for="delivery">Delivery:</label>
                <div class="col-sm-4">
                    <input type="text" id="delivery" name="delivery" class="form-control" value="{{ item.delivery }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="currency">Currency:</label>
                <div class="col-sm-4">
                    <input type="text" id="currency" name="currency" class="form-control" value="{{ item.currency }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="kids">Kids:</label>
                <div class="col-sm-4">
                    <input type="checkbox" id="kids" name="kids" class="form-control" {% if item.kids %} checked {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="sizes">Sizes:</label>
                <div class="col-sm-4">
                    <input type="text" id="sizes" name="sizes" class="form-control" value="{{ item.sizes }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="kid_adult">Kid_adult:</label>
                <div class="col-sm-4">
                    <input type="checkbox" id="kid_adult" name="kid_adult" class="form-control" {% if item.kid_adult %} checked{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="free_porto">Free porto:</label>
                <div class="col-sm-4">
                    <input type="checkbox" id="free_porto" name="free_porto" class="form-control" {% if item.free_porto %} checked {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="image">Image:</label>
                <div class="col-sm-4">
                    <input type="text" id="image" name="image" class="form-control" value="{{ item.image }}">
                </div>
            </div>
        </div>
        <div id="buttons">
            <button class="btn btn-default" onclick="update()">Update</button>
            <button class="btn btn-default" onclick="delete_item()">Delete</button>
        </div>
    </div>
</div>
{% endblock %}