* {
	margin: 0;
	padding: 0;
}

Header {
	padding: 0 5vw;
	grid-area: header;
	background: #3A74A7;
	color: white;
	display: flex;
	justify-content: flex-start;
}

Header a {
	display: flex;
	align-items: center;
	color: white;
	padding-right: 1em;
}

Footer {
	grid-area: footer;
	background: #3C3C38;
	color: white;
	display: inline-flex;
}

Footer a {
	color: white;
}

main {
	grid-area: main;
}

#container {
	min-width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 5vw 90vw 5vw;
	grid-template-rows: 1fr 9fr auto;
	grid-template-areas:
		"header header header"
		". main ."
		"footer footer footer";
}

body {
	overflow-x: hidden;
}