<ul class="list-unstyled products-list row" data-ng-if="vm.products.length > 0">
	<li data-ng-repeat="product in vm.products" class="product-item col-lg-3 col-sm-12">
		<a ui-sref="product_detail({item_id:product.id})">
			<div class="product-item-img-wrapper">
				<img data-ng-src="{{product.image}}" alt="{{product.name}}" class="img-responsive">
			</div>
			<div class="product-item-info">
				<div class="product-item-name">
					<h3>{{product.name}}</h3>
				</div>
				<div class="product-item-prev-price" data-ng-if="product.price_old > product.price">
					<span class="product-info-label">Old Price:</span> DKK <s>{{product.price_old}}</s>
				</div>
				<div class="product-item-price">
					<span class="product-info-label">Price:</span> DKK {{product.price}}
				</div>
			</div>
		</a>
	</li>
</ul>

<div class="empty-list" data-ng-if="vm.products.length < 1">
	<span class="empty-list-text">
		No items available.
	</span>
</div>