<!DOCTYPE html>
<html>
<head>
	<title>{{category|default:'Products'}}</title>
</head>
<body>

{% if page %}
	<ul>
    {% for object in page.object_list %}
        <li><a href="/products/id/{{ object.id }}/">{{ object.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if page.has_previous %}
	Previous: <a href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a> <br/>
{% endif %}

{% if page.has_next %}
	Next: <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
{% endif %}

</body>
</html>