{% extends 'products/base.html' %}

{% load i18n %}

{% block content %}
<h1>Documentation!</h1>

{% url 'product-list' as products_url %}
{% url 'product-detail' pk=198079 as product_url %}

<div class="list-group">
    <a href="{{products_url}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{products_url}}</h5>
        </div>
        <p class="mb-1">{% trans 'Should return the first 10 objects ordered with the cheapest first.' %}</p>
    </a>
    <a href="/products/kids/" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">/products/kids/</h5>
        </div>
        <p class="mb-1">{% trans 'Not implemented, will return 404. (not supported in current version of API)' %}</p>
    </a>
    <a href="{{products_url}}?page=2" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{products_url}}?page=2</h5>
        </div>
        <p class="mb-1">{% trans 'The products should be paginated where page in the url above should return the next 10 objects. Page 5 will return an empty page. Only 40 products in store.' %}</p>
    </a>
    <a href="{{product_url}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">/products/id/</h5>
        </div>
        <p class="mb-1">{% trans 'Should return the individual product. Try with id: 201450 or 198079.' %}</p>
    </a>
</div>
{% endblock %}