{% extends 'products/base.html' %}

{% load i18n %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello and welcome!</h1>
    <p class="lead">This is a simple Unisport sample webservice.</p>
    <hr class="my-4">
    <p>My name is Jakob Damgaard Møller. I like to do stuff, with stuff and other cool stuff. This is a small test to see how I do in Django.</p>
    <p>Happy browsing. :)</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/jakobdo" role="button">My github account!</a>
</div>
{% endblock %}