<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<a id="msg"></a>
<h1>Products</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<br>

<p><a href="#add">Click here to add a product</p>

<br>

{%  if prev_url %}
    <a href="{{ prev_url }}">Previous page</a>
{% endif %}

{% for page in products.iter_pages(2, 2, 2, 2) %}
    {%  if page %}
        {% if page != products.page %}
            <a href="{{ url_for('products', page=page) }}">{{ page }}</a>
        {% else %}
            <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %} 
    
{% if next_url %}
    <a href="{{ next_url }}">Next page</a>
{% endif %}


{% for product in products.items %}

    <p><a href="{{ url_for('product_page', id=product.id) }}">{{  product.name }}</a></p>
    <p>{{  'DKK%.2f'|format(product.price / 100) }}</p>

{%  endfor %}

<br>

<a id="add"></a>
<h1>Add product</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name() }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price() }}
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>
